
<div class='top-wrapper'>
  <div class='top-inner-text'>
    <h1>気分で決める別府温泉</h1>
  </div>
  <div class='explanation'>
    <p>このアプリは別府温泉に来たはいいがどんな温泉がいいのかわからない</p>
    <p>そんな方の悩みを解決するアプリです。</p>
    <p>たった3つの質問に答えるだけで</p>
    <p>あなたにおすすめの温泉が見つかります。</p>
  </div>
  <a href="#" role="button" class='btn btn-primary btn-lg'>さっそく探してみる</a>
</div>