<div class='container'>
  <div calss='text-center'>
    <h2 class='mt-5'>次に「泉質」「別府八湯の場所」のどちらから選びますか。</h2>
    <h2 class='mt-3'>どちらも気にしない場合は「選択しない」を押してください。</h2>
    
    <%= link_to '泉質', question_family_bath_spa_quality_path %>
    <%= link_to '別府八湯', question_family_bath_place_path %>
  </div>
</div>