<div class='container'>
  <div calss='text-center'>
    <h2 class='mt-5'>いくつかの質問からあなたにおすすめの温泉が見つかります。</h2>
    <h2 class='mt-3'>まずは探している温泉は貸切湯かそれ以外か教えてください。</h2>
    
    <%= link_to '泉質', question_spa_quality_spa_quality_path %>
    <%= link_to '家族風呂', question_family_bath_location_path %>
  </div>
</div>