<header>
  <div class='header'>
    <div class='container'>
    <nav class='navbar navbar-expand-lg navigation navbar-dark'>

      <%= link_to root_path, class: "navbar-brand" do %>
        <h2>気分で決める別府温泉</h2>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class='navbar-toggler-icon'></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class='navbar-nav ml-auto main-nav align-items-center me-4'>
            <li class='nav-item'>
              <%= link_to '質問から探す', question_path, class: 'nav-link' %>
            </li>
            <li class='nav-item'>
              <%= link_to 'リストから探す', spas_path, class: 'nav-link' %>
            </li>
            <li class='nav-item'>
              <%= link_to 'マップから探す', map_path, class: 'nav-link' %>
            </li>
        </ul>
      </div>
    </nav>
    </div>
  </div>
</header>