<div class='container place-explanation'>
  <table class='table table-striped table-bordered'>
    <tr>
      <th>別府温泉</th>
      <td>JR別府駅を中心に広がるアクセス抜群のこのエリアは、泉質の種類も豊富です。</td>
    </tr>
    <tr>
      <th>浜脇温泉</th>
      <td>別府温泉発祥の地とも言われる。昔ながらの別府に触れることのできるこのエリアは、別府駅から少し南に位置しています。</td>
    </tr>
    <tr>
      <th>亀川温泉</th>
      <td>別府市街地の北に位置。人気の高い別府海浜砂場もあります。</td>
    </tr>
    <tr>
      <th>鉄輪温泉</th>
      <td>あちこちから立ち上る湯けむりが幻想的。地獄蒸しなども体験できる場所が多いです。</td>
    </tr>
    <tr>
      <th>観海寺温泉</th>
      <td>別府湾を一望できる展望。大型リゾートホテル「杉乃井ホテル」もこのエリアです。</td>
    </tr>
    <tr>
      <th>堀田温泉</th>
      <td>別府ICからのアクセスがよく、市営温泉の中で入場客数1,2を争う「堀田温泉」を有しています。</td>
    </tr>
    <tr>
      <th>柴石温泉</th>
      <td>渓流沿いに位置する柴石温泉。療養効果の高いお湯としても知られています。</td>
    </tr>
    <tr>
      <th>明礬温泉</th>
      <td>硫黄の香りが漂い、茅葺き小屋が立ち並ぶ温泉街。高濃度の泥湯も楽しめる「別府保養ランド」があります。</td>
    </tr>
  </table>
</div>