<div class='container spring_quality_explanation'>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>泉質名</th>
        <th>特徴</th>
        <th>効能</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>単純温泉</td>
        <td>低刺激でお肌に優しい。お湯が柔らかい。</td>
        <td>自律神経不安定症、不眠症、うつ状態</td>
      </tr>
      <tr>
        <td>アルカリ性単純温泉</td>
        <td>pH8.5以上の肌が滑らかになる美肌の湯。現在は単純温泉の分類に入っている。</td>
        <td>自律神経不安定症、不眠症、うつ状態</td>
      </tr>
      <tr>
        <td>塩化物泉</td>
        <td>皮膚に付着した塩分により、高い保湿効果あり。</td>
        <td>きりきず、末梢循環障害、冷え性、皮膚乾燥、うつ状態</td>
      </tr>
      <tr>
        <td>炭酸水素塩泉</td>
        <td>皮脂をを乳化させ肌を綺麗に。美人の湯の代表。</td>
        <td>きりきず、末梢循環障害、冷え性、皮膚乾燥症</td>
      </tr>
      <tr>
        <td>硫黄泉</td>
        <td>硫黄泉独特の匂いで温泉気分も盛り上がり、様々な効能も得ることができる。</td>
        <td>アトピー性皮膚炎、尋常性乾癬、慢性湿疹、表皮化膿症</td>
      </tr>
      <tr>
        <td>硫酸塩泉</td>
        <td>硫酸の血管を広げる働きによって脳卒中のリスクを下げる長寿の湯。</td>
        <td>きりきず、末梢循環障害、冷え性、皮膚乾燥症、うつ状態</td>
      </tr>
      
      <tr>
        <td>酸性泉</td>
        <td>高い殺菌効果と美肌効果が魅力。小さなお子さんは酸性の強すぎる温泉は避けた方が良いかもしれません。</td>
        <td>アトピー性皮膚炎、尋常性乾癬、表皮化膿症、糖尿病</td>
      </tr>
      <tr>
        <td>含鉄泉</td>
        <td>鉄分豊富な茶褐色のお湯は、高い保温効果があり、カラダの芯から温まる。</td>
        <td>飲用での効能に鉄欠乏性貧血</td>
      </tr>
      <tr>
        <td>全ての泉質</td>
        <td>一般適応症として、一部紹介</td>
        <td>筋肉、関節の慢性的な痛み、強張り・運動麻痺による筋肉の強張り・胃腸機能の低下・軽症高血圧・軽い喘息 等</td>
      </tr>
    </tbody>
  </table>
  <p>※効能は一般適応症とは別に泉質別適応症として紹介しています。</p>
</div>