<div class="spa-for-index border border-dark border- 2">
  
  <div id="map"></div>
  <div id="map-<%= spa.id %>"></div>
  <h5><%= spa.name %></h5>
  <div class='row'>
    <div class="photo col-sm-2" id="photo-<%= spa.id %>"></div>
    <div class='col-sm-10'>

    </div>
  </div>

</div>

