.app {
  background-color: rgba(255, 252, 247, 0.669);
}

.container {
  width: 100%;
}

.term {
  p {
    margin: 0;
  }
}
.no-margin {
  margin: 0;
}

.btn-primary {
  border: none;
  background: rgb(19, 21, 75);
  color: #D5DEFF;
}

.btn-outline-primary {
  border-color: rgb(19, 21, 75);
  color: rgb(19, 21, 75);
}

.btn-outline-primary:hover {
  border-color: rgb(19, 21, 75);
  background: rgb(19, 21, 75);
  color: #D5DEFF;
}

.tag-btn {
  border-radius: 25px;
}

.custom-border {
  border-bottom: 2px solid rgb(19, 21, 75);
}

h1 {
  font-family: 'Toppan Bunkyu Mincho';
  margin-top: 30px;
  margin-bottom: 20px;
}

h2 {
  font-family: 'Toppan Bunkyu Mincho';
}

.pagination>.page-item>a {
  color: rgb(19, 21, 75);
}

.pagination>.active>a {     
  background: rgb(19, 21, 75);     /*背景の色を変える*/
  border: rgb(19, 21, 75);
  color:#D5DEFF;
}

.furo-choice {
  position: relative;
  height: 225px;
  width: 225px;
  margin: 30px;
}

.furo-img {
  height: 225px;
  width: 225px;
}

@media (max-width: 767px) {
  .furo-choice {
    position: relative;
    height: 113px;
    width: 113px;
    margin: 30px;
  }

  .furo-img {
    height: 113px;
    width: 113px;
  }

  .furo-choice-img p{
    font-size: 25px;
  }

  .no-wrap {
    font-size: 25px;
  }
}

.furo-choice-btn {
  display: none;
}

.furo-choice-img {
  position: absolute;
  opacity: 0.75;
}

.furo-choice-img:hover {
  opacity: 1.0;
}

.furo-choice input[type='radio']:checked + label {
  opacity: 1.0;
}

.furo-choice-img p{
  font-family: 'Toppan Bunkyu Mincho';
  position: absolute;
  text-align: center;
  top:55%;
  left:50%;
  transform: translate(-50%,-50%);
  color: rgb(19, 21, 75);
}

.no-wrap {
  font-size:32px;
  white-space: nowrap;
}

@media screen and (min-width: 961px) {
  .charactor-choice {
    margin: 30px 60px 30px 0px;
  }
}

.charactor-choice {
  margin: 30px 0px 30px 0px;
}

.charactor-choice p{
  font-family: 'Toppan Bunkyu Mincho';
  position: absolute;
  text-align: center;
  color: rgb(19, 21, 75);
}

.charactor-img {
  border-radius: 10px;
  width: 300px;
  height: 200px;
}

@media (max-width: 767px) {
  .charactor-img {
    width: 150px; /* 幅を150pxに指定 */
    height: 100px; /* 高さは自動調整 */
  }

  .charactor-choice {
    width: 165px;
    height: auto;
    margin: 20px 15px 10px 0px;
  }
}

@media screen and (min-width: 961px) {
  .location-choice {
    margin: 30px 60px 30px 0px;
  }
}

.location-choice {
  margin: 30px 0px 30px 0px;
}

.location-choice p{
  font-family: 'Toppan Bunkyu Mincho';
  position: absolute;
  text-align: center;
  color: rgb(19, 21, 75);
}

.location-img {
  border-radius: 10px;
  width: 300px;
  height: 200px;
}

@media (max-width: 767px) {
  .location-img {
    width: 150px; /* 幅を150pxに指定 */
    height: 100px; /* 高さは自動調整 */
  }

  .location-choice {
    width: 165px;
    height: auto;
    margin: 20px 15px 10px 0px;
  }
}

.question-img {
  opacity: 0.75;
}

.question-img:hover {
  opacity: 1.0;
}

.choosed-choice {
  border-radius: 10px;
  border: 3px black;
  background-color: #D5DEFF;
  width: 350px;
}

.choosed-choice p {
  padding: 20px 20px 15px 30px;
}

.btn-bookmark {
  background-color: rgba(255, 252, 247, 0.669);
  border: 3px solid rgb(19, 21, 75);
}