.spa-show {


  .spa-name {
    font-family: 'Toppan Bunkyu Mincho';
  }



  .spa-info {
    margin-bottom: 30px
    table {
      width: 100%;
      table-layout: fixed;
      word-break: break-all;

      
      }
    
  }


  .spa-photo {
    margin-bottom: 30px
  }

  @media screen and (max-width: 960px) {
    .spa-info {
      width: 90%;
    }

  
  }
}