.top-wrapper {
  background-image: url('onsen_top.jpg');
  background-size: cover;
  height: 800px;
  position: relative;
  background-position: bottom;

  .top-inner-text {
    font-family: 'Toppan Bunkyu Mincho';
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: #3C3736;

    @media screen and (max-width: 767px) {
      font-size: 2.0rem;
    }
  }

  h1 {
    font-size: 70px;
  }

  .explanation {
    padding: 25px 10px 10px 10px;
    background-color: rgb(19, 21, 75, 0.8);
    border-radius: 30px;
    font-size: 20px;
    font-family: 'Toppan Bunkyu Mincho';
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #D5DEFF;
  }

  .btn-primary {
    border: none;
    background: rgb(19, 21, 75);
    border-radius: 77px;
    font-size: 50px;
    font-family: 'Toppan Bunkyu Mincho';
    text-align: center;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #D5DEFF;
  }

  
}


.header {
  background-color: #13154b;
}
